.hero-tv {
    height: 80vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("https://wallpapercave.com/wp/wp6293498.jpg") center/cover;
    display: flex;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 20px;
  }